$colorNegro:black;
$colorBlanco:white;
$colorPrincipal: #9ec0e7;
$bgPrimario:#9ec0e7;
$bgSecundario:#62c09e; 
$bgTerciario:#fae7c4;
$bgCuarto:hsl(330, 59%, 74%);
$bgBlanco: white;
$bgNegro: black;


$borderColor: rgba(0,0,0,.1);