/*---------LINKEDOG MAIN----------------------*/
.banner-page2 img {width: 100%;margin: 0;}
.title-global{background-image: url(../img/background-dog.jpg);}
.mascota {
    width: 45%;
    background-color: $bgPrimario;  
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
      img{width: 50%; padding: 2%;}  
      h3 {color:$colorBlanco;font-size: 50% large;}
      ul{list-style-type:none;font-size: 12px;}
      input {
        cursor: pointer;
        margin: 3px;
        padding: 2px;
        width: 80px;
        border-radius: 10px;
        color: $colorBlanco;
        background-color: $bgCuarto;
        &:hover {background-color: white;color: hsl(330, 59%, 74%);}
      }
  }  